header{
    background-image: url("Camera.jpeg");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position:left;
}

h1{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: italic;
    background-color:gray;
    padding-bottom: 10px;
}
a{
    margin: 20px;
    text-decoration: none;
    background-color:blue;
    color: white;

}
img{
    padding-right: 20px;
    padding-top: 200px;
    margin-left: 100px;
}
.box{
    display: inline-block;
    margin: 30px;
}
body{
    background-color: coral;
}
p{
    text-align: center;
}
#email{
    width: 200px;
    height: 25px;
    }
footer{
        padding-top: 10px;
    }
h3{
        font-size: 20px;
        padding-top: 10px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    @media (min-width:480){
        .row{
            display: block;
    }
}